.authentication__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;
  color: inherit;
  outline: none;
  padding: 0;
  padding-bottom: 8px;
  height: 17px;
  margin-bottom: 31px;
}

.authentication__input:focus {
  border-bottom: 2px solid blue;
}
