.popup__close-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close-Button.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 520px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
