.element__title {
    grid-area: title;
    align-self: start;
    margin: 25px 0 25px 21px;
    padding: 0;
    max-width: 188.3px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
