.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: inherit;
  outline: none;
  padding: 0;
  padding-bottom: 8px;
  height: 17px;
  margin-bottom: 31px;
}

.popup__input:focus {
  outline: 2px solid blue;
  border-radius: 2px;
}
