.popup__container {
  background-color: #FFFFFF;
  color: #000000;
  width: 430px;
  /* min-height: 330px; */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 520px) {
  .popup__container {
    margin-left: 19px;
    margin-right: 19px;
    padding: 25px 22px;
    width: 100%;
    min-height: 322px;
  }
}
