.element__image-basket {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: url('../../../images/trash-icon.svg') center center/contain no-repeat;
  transition: opacity .6s;
}
.element__image-basket:hover {
    opacity: .6;
}