.popup__container_type_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 330px;
  padding: 59px 36px 0;
}

@media screen and (max-width: 635px) {
  .popup__container_type_info  {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 280px;
    min-height: 308px;
    padding-top: 50px;
  }
}
